@import "tailwindcss";

@theme {
  --color-dark-bg: #121212;
  --color-dark-card: #1e1e1e;
  --color-primary: #3b82f6;
  --color-accent: #8b5cf6;
}

body {
  background-color: var(--color-dark-bg);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
